h1 {
    text-align: center;
}
h2{
    text-align: center;
}

address{
text-align: center;
}


body {
    background-color: rgb(211, 180, 180);
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


nav a:hover {
    background-color: snow;
    color: salmon;
}

nav {
   text-align: center;
   margin-bottom: 50px;
   padding: 10px;
   display: block;
}

header {
  display: block;
  width: 1000px;
  margin-left: 80px;
}

h3 {
    text-align: center;
    margin-bottom: 50px;
}

dl{
    text-align: center;
   
}

dd{
    margin: 2em 0;
}

#p0{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    text-align: center;
    font-style: normal;
}

#infopar{
    text-align: center;
   
}

footer {
    background-color: white;
    text-align: center;
}